---
---
// 1. Import the initial variables
@import "sass/utilities/initial-variables";
@import "sass/utilities/functions";

// 2. Set your own initial variables
// $navbar-height:4rem;
/* Coolors Exported Palette - coolors.co/c2948a-7ea8be-564787-f8f0fb-dbcbd8 */

/* RGB */
$color1: rgba(194, 148, 138, 1);
$color2: rgba(126, 168, 190, 1);
$color3: rgba(86, 71, 135, 1);
$color4: rgba(248, 240, 251, 1);
$color5: rgba(219, 203, 216, 1);
$color1-invert: findColorInvert($color1);
$color2-invert: findColorInvert($color2);
$color3-invert: findColorInvert($color3);
$color4-invert: findColorInvert($color4);
$color5-invert: findColorInvert($color5);

$primary: $color3;
$link: $primary;
$primary-invert: $color3-invert;
$grey-darker: #444444;
$grey-dark: #6E6E6E;
$seconday: $color1;


// 5. Add new color variables to the color map.
@import "sass/utilities/derived-variables";

h1 {
    @extend .title;
}

// 6. Import the rest of Bulma
@import "bulma";

